////////
// CPA THEME //
//////

////////
//
// GLOBAL
//
//////
body {
	font-size: 14px;
	line-height: 24px;
}

img {
	width: 100%;
}

.slick-container {
	height: 340px;
}

// Import Grid System
@import "grid";

//Social Media menu
.social-media-menu {
  ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
  }

	.menu-item {
		display: inline-block;
    font-size: 2rem;
    border-radius: 50%;
    width: 50px; 
    height: 50px;
    text-align: center;
    line-height: 1.5;
  }
  
  a {
    color: $white;
  }

	.facebook {
		background-color: $facebook;
  }

  .twitter {
    background-color: $twitter;
  }
  
  .linkedin {
    background-color: $linkedin;
  }

  .youtube {
    background-color: $youtube;
  }
}

////////
//
// HEADER
//
//////
.site-header {
	background-color: $white;

	&--content {
		width: 90%;
		max-width: 1200px;
		margin: auto;
		display: flex;
		align-items: center;
		padding: 15px;
		position: relative;
	}

	.header-nav {
		margin-left: auto;
		width: 50%;
		position: relative;
		padding-right: 3rem;

		ul {
			margin: 0;
			display: flex;
			justify-content: space-evenly;
		}
	}
}

.header-menu {
	font-family: 'Lato', sans-serif;

	li {
		display: inline-block;
		color: $soft-grey;

		a {
			color: inherit;
		}
	}
}

.main-navigation {
	background-color: $red;
  color: $white;
  
  &--content {
		padding: 0 35px;
		position: relative;
  }

	a {
		color:  inherit;
	}
}

// Search
 .search-close {
	display: none;
}

.search-form {
	background-color: $white;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	transform: translate(0, -200px);
	transition: all $time;
	
	input[type="search"] {
		width: 90%;
		border: none;
	}
	input[type="submit"] {
		display: none;
	}
}

.search-results {
	h1 {
		margin-bottom: 40px;
	}

	article {
		h2 {
			a {
				color: inherit;
			}
		}
	}
}


// UTILS
.header-nav.show {
	.search-form {
		transform: translate(0, 0);
	}

	.search-close {
		display: block;
		position: absolute;
		right: 0;
		top: 0;
		cursor: pointer;
		z-index: 100;
	}
}

.search-toggle {
	position: absolute;
	right: 0;
	top: 0;
	transform: scaleX(-1);
	color: $light-grey;
	cursor: pointer;
}

.cart-wrap {
	position: absolute;
	right: 2rem;
	top: 0;
	margin-right: 10px;

	a {
		color: $light-grey;
	}
}

.site-branding {
	width: 25%;
}

////////
//
// CONTENT
//
//////
.site-content {
	background-color: $white;
	width: 90%;
	max-width: 1200px;
	margin: auto;
}

.slick-container {
	position: relative;

	h1 {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 100;
		color: $white;
		font-weight: 300;
		line-height: 1em;
		margin-top: 0;
		text-shadow: 0 1px 3px rgba(0,0,0,.3);
	}

	img {
		position: relative;
		z-index: 10;
	}
}

.site-main {
	article {
		img {
			width: auto;
		}
	}
}

/* Abstracts Landing and Detail CSS 
------------------------*/
.abstract-details {
	margin-bottom: 50px;
	padding-bottom: 20px;
	margin-right: 40px;
	border-bottom: 1px solid #e2e2e2;
}

.abstract-details h2 {
	margin-bottom: 20px;
}

.abstract-details h3 {
	margin-bottom: 10px;
}

.type-abstract .entry-title {
	padding-right: 40px;
}

.type-abstract .et_post_meta_wrapper, .type-job_posting .et_post_meta_wrapper {
	display: none;
}

.type-abstract .abstract-details {
	margin-right: 80px;
}

////////
//
// FOOTER
//
//////
.site-footer {
	background-color: $red;
	color: $white;
	max-width: 1200px;
	margin: auto;
	padding: 45px 0 20px;

	a {
		color: inherit;
	}

	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	&--menu {
		margin: 30px 0;

		li {
			display: inline-block;
			margin-right: 20px;
		}
		a {
			font-size: 12px;
		}
	}

	&--credits {
		font-size: 12px;
		color: $light-grey;
	}
}


////////
//
// PAGES
//
//////
.home {
	.hero {
		padding: 13px 0;

		h1 {
			font-size: 46px;
		}
	}

	.section-title {
		margin-left: -35px;
		margin-right: -35px;
	}

	.entry-title {
		display: none;
	}

	.cta {
		h2 {
			font-weight: normal;
		}
		text-align: center;
		border-bottom: 1px solid $red;
		padding-bottom: 15px;

		&:last-child {
			border-bottom: none;
		}

		.btn {
			border-radius: 10px;
			background-color: $red;
			letter-spacing: 1px;
			color: $white;
			padding: .3em 1em;
			font-size: 16px;
		}
	}

	.spotlight {
		ul {
			margin: 0;
			padding: 0;
			list-style: none;
		}

		h2 {
			font-weight: normal;
			a {
				color: inherit;
			}
		}
	}

}

.landing-page {
	padding-top: 40px;

	.entry-header {
		display: none;
	}
}

.section-title {
	background-color: $red;
	color: $white;
	padding: 10px 20px;
	margin: 30px 0;

	&--text {
		color: $white;
		margin: 0 0 0 45px;
	}
}

.sidebar-item {
	display: flex;
	padding: 20px 0;

	&--img {
		display: block;
		margin-right: 20px;
		width: 100%;
	}

	h3 {
		margin-top: 0;
	}
}

////////
//
// MISC
//
//////

.textwidget {
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	a {
		color: inherit;
	}
}

////////
//
// MOBILE
//
//////
.mobile-toggle, .mobile-toggle__content, .mobile-main-nav {
	display: none;
}

@media all and (max-width: 980px) {
	.site-header--content {
		height: 80px;
	}

	.mobile-toggle {
		display: block;
		position: absolute;
		right: 0;
		top: -0.5rem;
	}

	.search-toggle {
		right: 4rem;
		top: -0.5rem;
	}

	.cart-wrap {
		right: 5rem;
		top: -0.5rem
	}

	.site-header .header-nav ul {
		display: none;
	}

	.mobile-main-nav {
		visibility: visible;
    position: absolute;
    z-index: 9999;
		left: 0;
		top: 80px;
    width: 100%;
    padding: 5%;
    border-top: 3px solid #2ea3f2;
    opacity: 1;
    background: #fff;
    -webkit-box-shadow: 0 2px 5px rgba(0,0,0,.1);
    -moz-box-shadow: 0 2px 5px rgba(0,0,0,.1);
		box-shadow: 0 2px 5px rgba(0,0,0,.1);
		
		&.show {
			display: block;
		}

		ul {
			list-style: none;
			margin: 0;
			padding: 0;

			li {
				a {
					display: block;
					padding: 10px 5%;
					border-bottom: 1px solid rgba(0,0,0,.03);
					color: $soft-grey;
				}
			}
		}
	}

	.mobile-toggle__content {
		display: block;
		padding: 25px;
		text-align: center;
	}

	.main-navigation {
		ul  {
			display: none;
			visibility: visible;
			position: absolute;
			z-index: 9999;
			left: 0;
			width: 100%;
			padding: 5%;
			border-top: 3px solid #2ea3f2;
			opacity: 1;
			background: $white;
			box-shadow: 0 2px 5px rgba(0,0,0,.1);
			color: $soft-grey;
			
			ul {
				border-top: none;
				left: 0;
				position: static;
				box-shadow: none;

				a {
					background-color: transparent;
				}
			}
		}

		li {
			display: block;
			border-bottom: 1px solid rgba(0,0,0,.03);
			padding-bottom: 10px;

			&.menu-item-has-children > a {
				text-align: left;
			}
		}
	}
}