////////
// CPA THEME //
//////

////////
//
// GLOBAL
//
//////
body {
	font-size: 14px;
	line-height: 24px;
}

img {
	width: 100%;
}

.slick-container {
	height: 340px;
}

// Grid System
@import "grid";

//Social Media menu
.social-media-menu {
  ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
  }

	.menu-item {
		display: inline-block;
    font-size: 2.5rem;
    border-radius: 50%;
    width: 60px; 
    height: 60px;
    text-align: center;
    line-height: 1.5;
  }
  
  a {
    color: $white;
  }

	.facebook {
		background-color: $facebook;
  }

  .twitter {
    background-color: $twitter;
  }
  
  .linkedin {
    background-color: $linkedin;
  }

  .youtube {
    background-color: $youtube;
  }
}

////////
//
// HEADER
//
//////
.site-header {
	background-color: $white;

	&--content {
		width: 90%;
		max-width: 1200px;
		margin: auto;
		display: flex;
		align-items: center;
		padding: 15px;
	}

	.header-nav {
		margin-left: auto;
		width: 50%;

		ul {
			margin: 0;
			display: flex;
			justify-content: space-evenly;
		}
	}
}

.header-menu {
	font-family: 'Lato', sans-serif;

	li {
		display: inline-block;
		color: $soft-grey;

		a {
			color: inherit;
		}
	}
}

.main-navigation {
	background-color: $red;
  color: $white;
  
  &--content {
    padding: 0 35px;
  }

	a {
		color:  inherit;
	}
}

.site-branding {
	width: 25%;
}

////////
//
// CONTENT
//
//////
.site-content {
	background-color: $white;
	width: 90%;
	max-width: 1200px;
	margin: auto;
}

.slick-container {
	position: relative;

	h1 {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 100;
		color: $white;
		font-weight: 300;
		text-shadow: 0 1px 3px rgba(0,0,0,.3);
	}

	img {
		position: relative;
		z-index: 10;
	}
}

////////
//
// FOOTER
//
//////
.site-footer {
	background-color: $red;
	color: $white;
	width: 90%;
	max-width: 1200px;
	margin: auto;
	padding: 45px 0 20px;

	a {
		color: inherit;
	}

	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	&--menu {
		margin: 30px 0;

		li {
			display: inline-block;
			margin-right: 20px;
		}
		a {
			font-size: 12px;
		}
	}

	&--credits {
		font-size: 12px;
		color: $light-grey;
	}
}


////////
//
// PAGES
//
//////
.home {
	.hero {
		padding: 13px 0;
	}

	.cta {
		h2 {
			font-weight: normal;
		}
		text-align: center;
		border-bottom: 1px solid $red;
		padding-bottom: 15px;

		&:last-child {
			border-bottom: none;
		}

		.btn {
			border-radius: 10px;
			background-color: $red;
			letter-spacing: 1px;
			color: $white;
			padding: .3em 1em;
			font-size: 16px;
		}
	}

	.spotlight {
		ul {
			margin: 0;
			padding: 0;
			list-style: none;
		}

		h2 {
			font-weight: normal;
			a {
				color: inherit;
			}
		}
	}

}

.landing-page {
	padding-top: 40px;
}

.sidebar-item {
	display: flex;
	padding: 20px 0;

	&--img {
		display: block;
		margin-right: 20px;
		width: 100%;
	}

	h3 {
		margin-top: 0;
	}
}